
body{
  margin: 100px 0px 100px 0px;
  background-color: white;/*for browsers do not support linear-gradient*/
  background-image: linear-gradient(to right, rgb(171, 172, 173), white, white,rgb(171, 172, 173));
}

h1{
  font-weight: 900;
  margin-bottom: 20px;
  text-decoration: underline red;
}

p{
  font-weight: 500;
  font-size: 16px;
}
.card-body{
  text-align: justify;
  margin: 3px;
  box-shadow: 3px 5px 6px black;
}

#footer:hover{
  background-color: darkgray;
  padding-top: 4px;
}

/* alert messages */
.alert{
  display: block;
  margin: auto;
  max-width: 200px;
  z-index: 99;
}

/*myproject page button and card style*/
#toggledown{
  margin:2% 44% 5%;
}

.fa_plus{
  border-radius: 50%;
  background-color: white;
  color: #007bb6;
}

/*login-register buttons*/
.logbtn{
  position: fixed;
  right: 2%;
}


/*home button rotate, zoom and changes its color*/
.fa-home{
  transition: 0.5s;
  color: red;
}
.fa-home:hover{
  -webkit-transform: rotate(360deg) scale(1.5);
  transform: rotate(360deg) scale(2);
  color: green;
}

/*navigation bar links zoom*/
.nav-link:hover{
  transform: scale(1.2);
  font-weight: bold;
}


/*large social media buttons zoomed and moved*/
.social_group{
  position: fixed;
  left: 10px;
  top: 70px;
}
.btn-social-icon.btn-lg{
    transition: 1s;
    width: 200px;
    border: 1px solid black;
}
.btn-social-icon.btn-lg:hover{
    width: 240px; 
}

/*front page contact area style*/
.contact {
  position: relative;
  width: 200px;
}
.contactimg {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid black;
} 
.contactdetails {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:white;
}
.contact:hover .contactdetails {
  opacity: 1;
}
.cont_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/*welcome page style*/
#wp_images{
  background-image: url('/images/img-0.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 0 0 100%;
  min-height: 50vh;
  position: relative;
}

#wp_text{
  margin: 10%;
  text-align: justify;
  font-size: 30px;
}

#wp_text_end{
  margin: 10%;
  text-align: justify;
  font-size: 30px;
  position: relative;
  float: left;
}


/*welcome page questions toggle*/
.wp_toggle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 60%;
  background-color: #38c172;
  border-radius: 10px;
  text-align: center;
  float: left;
}

.wp_toggle:hover{
  opacity: 0.6;
}

.wp_collapse{
  display: block;
  margin-bottom: 10px;
  margin-top: -10px;
  background-color: #8acea6;
  width: 60%;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  float: left;
  text-align: justify;
}
.wp_collapse:hover{
  background-color: #18bb5c;
}

#linkedin_API{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  width: 28%;
  height: 180px;
  right: 0;
}
/*hidden elements, only display on small screen*/
.hidden{
  display: none;
}

/*contact page style*/
.contact_page{
  text-align: center;
  margin: auto;
}

/*Login page style*/
.card{
  border: 2px black solid;
}

/*Post page edit button*/
.btn-info{
  margin-right: 15px;
}
/*post pages style*/
#post_title{
  border-bottom: 1px red solid;
  padding-bottom: 20px;
}
#post_index{
  margin-bottom: 20px;
  border-bottom: 1px red solid;
  position: relative;
  padding-bottom: 20px;
}
.post_details{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.form-control{
  border: 1px red solid;
}

/*Search result page style*/
#result th{
  padding: 30px;
  font-size: 18px;
}
#result td{
  padding: 20px 30px 20px 20px;
}
#result tr{
  border-bottom: 1px red solid;
}
#result p{
  font-weight: bold;
  text-align: center;
}

/*loading screen -> loads before index page*/
#load_screen{
  opacity: 0.8;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  }
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color:black transparent transparent transparent;
  }
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
  }
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
  }
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

/*My projects inhalt*/
.project_embed{
  position: relative;
  width: 80%;
  margin: auto;
}
.projectimg{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 15%;
}
.project_embed:hover .project_description{
  opacity: 0.8;
}
.project_description{
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(126, 214, 241);
  border-radius: 15px;
}
.project_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*About me page style*/
.about_img{
  border: 1px black solid;
  margin-bottom: 20px;
}
.about_text{
  margin: 8px;
}



/*////////////////////////////////RESPONSIVE DESIGN STARTS FROM HERE///////////////////////////////////////////////////*/



/* Desktop sized screen style from here*/
@media screen and (max-width: 1199.98px)  {

  
  /*welcome page style*/
  #wp_images{
    flex: 0 0 100%;
    min-height: 30vh;
  }


/*My projects inhalt*/
  .project_embed{
    position: relative;
    width: 70%;
    margin: auto;
  }
  .projectimg{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 15%;
  }
  .project_embed:hover .project_description{
    opacity: 0.8;
  }
  .project_description{
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(126, 214, 241);
    border-radius: 15px;
  }
  .project_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


/*About me page style*/
  .about_text{
    font-size: 18px;
  }
}



/* Tablet sized screen style */ 
@media screen  and (max-width: 991.98px) {

/*home button rotate, zoom and changes its color*/
.fa-home{
  transition: none;
  color: red;
}
.fa-home:hover{
  -webkit-transform: none;
  transform: none;
  color: green;
}

/*navigation bar links*/
.nav-link{
  font-size: 80%;
}

.navbar{
 position: fixed;
}

.nav-link:hover{
  transform: none;
  font-weight: bold;
}

/*large social media buttons zoomed and moved*/
  .social_group{
    position: fixed;
    left: 20px;
    margin-right: 20px;
  }
  .btn-social-icon.btn-lg{
      transition: 1s;
      width: 200px;
      border: 1px solid black;
  }
  .btn-social-icon.btn-lg:hover{
      width: 200px; 
  }

/*front page contact area style*/
  .contact {
    position: relative;
    width: 200px;
  }
  .contactimg {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid black;
  } 
  .contactdetails {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:white;
  }
  .contact:hover .contactdetails {
    opacity: 1;
  }
  .cont_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


/*My projects inhalt*/
  .project_embed{
    position: relative;
    width: 70%;
    margin: auto;
  }
  .projectimg{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 15%;
  }
  .project_embed:hover .project_description{
    opacity: 0.8;
  }
  .project_description{
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(126, 214, 241);
    border-radius: 15px;
  }
  .project_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


/*About me page style*/
  .about_text{
    font-size: 18px;
  }
}



/* Large mobile device */
@media screen and (max-width: 767.98px)  {

  .col-md-8,
  .col-md-7,
  .col-md-6{
    padding: 40px 5px 30px 5px;
  }

  p {
    font-size: 13px;
  }

  h1{
    font-size: 15px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  .post_details small{
    font-size: 7px;
  }

  .about_text{
    font-size: 14px;
  }

  #post_index{
    margin: 10px;
  }

/* Welcome page images */
  #wp_images{
    display: none;
  }
  .wpsmall_img{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/*welcome page questions*/
.wp_toggle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 70%;
  background-color: #38c172;
  border-radius: 10px;
  text-align: center;
  float: none;
}

.wp_toggle:hover{
  opacity: 0.6;
}

.wp_collapse{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: -10px;
  background-color: #8acea6;
  width: 68%;
  border-radius: 15px;
  padding: 5px;
  float: none;
  text-align: justify;
}

#linkedin_API{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 40%;
}

/*footer style*/
#footer{
  background-color: darkgray;
  padding-top: 4px;
}

/*hidden elements only display on small screen*/
  .hidden{
    display: inherit;
  }

}

/*Extra small device*/
@media (max-width: 575.98px) {


}